body {
    color: white;
    font-family: Maximum Impact, serif;
}

::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-thumb:horizontal{
    background-color: rgba(128, 128, 128, 0.61);
    border-radius: 10px;
}